Source: maefat
Section: user/utilities
Priority: extra
Maintainer: Norayr Chilingarian <norayr@arnet.am> 
Build-Depends: debhelper (>= 5), autotools-dev, libhildon1-dev, libgtk2.0-dev, libosso-dev, libhildonfm2-dev
Standards-Version: 3.7.2

Package: maefat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
XB-Maemo-Display-Name: maeFat
XSBC-Bugtracker: https://github.com/norayr/maefat
Description: Tracks your weight history
 This is a utility allows you to track
 your weight history.   It is similar to the
 Hacker Diet tools.
 Old maintainer: Ken Young <orrery.moko@gmail.com>
 Old bugtracker: https://github.com/norayr/maefat
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAABGdBTUEAALGP
 C/xhBQAAADh0RVh0U29mdHdhcmUAWFYgVmVyc2lvbiAzLjEwYSAgUmV2OiAx
 Mi8yOS85NCAoUE5HIHBhdGNoIDEuMindFS5JAAAS80lEQVRYCQHoEhftAK6u
 /66u/66u/66u/66u/66u/66u/66u/66u/66u/66u/62t/66u/6+v/7Cw/62t
 /6am/6Gh/56e/52d/52d/52d/6Cg/6Wl/6ur/7Cw/6+v/66u/66u/66u/66u
 /66u/66u/66u/66u/66u/66u/66u/66u/66u/wCurv+urv+urv+urv+urv+u
 rv+urv+urv+urv+trf+wsP+2tv+np/96egBPTwBOTgBgYABtbQB3dwB0aABu
 WQB4eQBwcABkZABSUgBISABycgCbm/+2tv+xsf+trf+trf+urv+urv+urv+u
 rv+urv+urv+urv+urv8Arq7/rq7/rq7/rq7/rq7/rq7/rq7/ra3/rq7/s7P/
 kJD/NjYAMjIAZ2cAzc3/9/f/+fn/+vr//Pz/7aX/4VwA/P//+/v/+fn/+Pj/
 7+//WFgARUUAJiYAeXkAsrL/rq7/ra3/rq7/rq7/rq7/rq7/rq7/rq7/rq7/
 AK6u/66u/66u/66u/66u/66u/7Gx/6Gh/3d3AE1NAGhoANbW/////2trAKam
 //////////////////Cm/+NbAP///////////////+fn/xYWAP///+3t/4aG
 /0dHAG1tAJeX/7Gx/66u/62t/66u/66u/66u/66u/wCurv+urv+urv+trf+t
 rf+0tP9rawBVVQCwsP/q6v/////////////Ozv9hYQD////////////////w
 pv/jWwD///////////////+hof92dgD////////////19f/Bwf9sbABRUQCz
 s/+vr/+trf+urv+urv+urv8Arq7/rq7/ra3/rq7/qqr/QkIAgYH+UlIAz8//
 /////v7//////v7/9/f/UVEA9PT/////////////8Kb/41sA////////////
 ////YGAAz8///////////v7/////////LCwAn5//JCQAmZn/rq7/rq7/ra3/
 rq7/AK2t/62t/7Oz/35+AE9PAMTE/////8/P/ywsAPr6//////////////v7
 /2FhAObm//7+//////////Cm/+NbAP////////////Pz/1BQAPr6//7+////
 /////////1tbAIqK/////+vr/2BgAGZmALOz/66u/62t/wCtrf+3t/9cXABe
 XgDy8v/////+/v////9+fgCbm//////////////+/v96egC8vP//////////
 ///wpv/jWwD////////////h4f9bWwD7+//////////////IyP9CQgD/////
 ///////9/f+YmP8uLgCysv+urv8Ara3/X18AYWEA/////////////////v7/
 7Oz/SEgA9fX/////////////9PT/+vr/////////////8Kb/41sA////////
 /////v7/+vr//v7//////v7//Pz/Xl4A0ND//////////////v7/////pqb/
 Pj4Ap6f/AG1tAIuL/25uAKio//////7+/////////////319AJWV////////
 //7+//////////////////////Gn/+RcAP//////////////////////////
 /////9/f/1paAPv7//7+//////7+/////87O/zw8AKam/0tLAACQkP9UVAD2
 9v8zMwDCwv/////+/v/////////4+P/5+f/////////////////+/v/9/f/n
 5//////ckv/QRgD////t7f/4+P/////////////+/v/////9/f/6+v//////
 ///+/v/+/v/d3f8lJQDh4f+Bgf5xcQAAiYn/dHQAXFwA2tr/NDQAwsL/////
 /v7//v7//////v7/////////1tb/uLj/////Y2MALS0A+/z/w3gAti0A////
 dHQAAwMA////xcX/v7///////////////v7//////v7/////3d3/OTkAzc3/
 kpL/U1MAnZ3/AEBAAIiI/4WF/1FRANra/zIyAKWl//////////7+/////9fX
 /////4iI/xISAO/v/6mp/wsLAPn6/8V6ALgvAP3//09PAE9PAP///0dHACws
 AP///87O//////7+/////////9bW/yUlAM3N/3FxAGRkAKCg/y4uAADS0v8x
 MQCbm/+Fhf9cXAD6+v/U1P////////////+hof8AAADOzv/v7/8AAADBwf/c
 3P8AAADx8v/FegC4LwD7/f8jIwCIiP/q6v8FBQCmpv/w8P8gIABFRQD/////
 ///////7+//s7P+Skv9kZACqqv80NAC4uP8A4+P/wsL/MTEAiIj/dHQAVVUA
 8/P/////vLz/y8v/////JCQASUkA////QEAAPT0A8/P/MDAA09P/1or/xjoA
 +v3/MDAAzMz/mpr/AAAA+/v/kZH/AAAA39//5+f/oqL/+/v/////goL/U1MA
 oKD/NDQAnJz/4+P/AODg/+Pj/9LS/zk5AI6O/46O/1BQAP///zo6ABcXAPj4
 /7m5/wAAAKio/7q6/5+f//////n5///////J//eQ//////n5/////8jI/5WV
 /+vr/wAAAIGB/v///1FRAAAAAPPz/3R0AG5uAKOj/ycnALe3/+Pj/+Hh/wDh
 4f/g4P/g4P/Ly/8uLgCWlv96egBeXgDl5f8XFwAvLwD29v9PTwCjo//////r
 6/+trf9dXQAqKgAZHAAZHwAiIgBNTQCWlv/h4f/////X1/9HRwDj4/9+fgAA
 AADCwv+amv9aWgCnp/86OgCrq//i4v/g4P/h4f8A4eH/4eH/4OD/5OT/xcX/
 NTUAhYX/enoAUlIAs7P/AAAAmJj/////9fX/bW0AWloAbm4Alpb/sLD/trb/
 trb/tLT/n5//enoAWloAXl4Azs7/////3Nz/AAAAjY3/dHQAWloAn5//KysA
 oKD/5eX/4OD/4eH/4eH/AOHh/+Dg/+Hh/+Dg/+Hh/9bW/zU1AJaW/46O/1ZW
 ANzc/////8jI/yAgAJWV/6ys/66u/66u/66u/62t/62t/66u/66u/66u/62t
 /6am/zg4AIuL/////93d/39/AG5uAKen/ysrAL29/+Li/+Hh/+Hh/+Hh/+Hh
 /wC/v//l5f/g4P/h4f/g4P/h4f/Fxf8uLgCOjv90dABeXgC2tv8/PwCxsf+w
 sP+trf+urv+urv+urv+urv+urv+urv+urv+urv+trf+urv+4uP9XVwCUlP+U
 lP9TUwCjo/86OgCgoP/i4v/g4P/h4f/g4P/i4v/U1P8AHx8AwMD/4eH/4OD/
 4eH/4OD/5OT/y8v/OTkAiIj/hYX/REQApqb/rq7/ra3/rq7/rq7/rq7/rq7/
 rq7/rq7/rq7/rq7/rq7/rq7/rq7/ra3/rq7/WFgAZGQAoKD/JycAqqr/5eX/
 4eH/4eH/4eH/4eH/2tr/NjYAAK6u/yEhANPT/+Hh/+Dg/+Hh/+Dg/+Dg/9LS
 /zExAJub/7Gx/62t/66u/66u/66u/66u/66u/66u/66u/66u/66u/66u/66u
 /66u/66u/66u/62t/7Cw/6io/zQ0ALe3/+Li/+Dg/+Hh/+Hh/+Hh/9vb/0lJ
 AHJyAADt7f+Li/8gIADt7f/h4f/h4f/h4f/g4P/j4//Cwv8xMQCDg/+xsf+t
 rf+urv+urv+urv+urv+urv+urv+urv+urv+urv+urv+urv+urv+urv+wsP+e
 nv80NACbm//k5P/g4P/h4f/h4f/h4f/o6P9ubgBQUADs7P8A6+v/19f/AAAA
 7+//4eH/4eH/4eH/4eH/4OD/4+P/0tL/OTkAjIz/rq7/ra3/rq7/rq7/rq7/
 rq7/rq7/rq7/rq7/rq7/rq7/rq7/rq7/ra3/oqL/JiYAt7f/5OT/4eH/4eH/
 4eH/4eH/4eH/7Oz/R0cAnJz/7e3/AOvr/9fX/wAAAO/v/+Hh/+Hh/+Hh/+Hh
 /+Hh/+Dg/+Dg/8vL/y4uAJWV/7Cw/66u/66u/66u/66u/66u/66u/66u/66u
 /66u/62t/6+v/6Wl/zo6AKqq/+Li/+Dg/+Hh/+Hh/+Hh/+Hh/+Hh/+zs/0hI
 AJyc/+zs/wDr6//X1/8AAADv7//h4f/h4f/h4f/h4f/h4f/h4f/g4P/k5P/E
 xP86OgBxcQCzs/+urv+trf+urv+urv+urv+urv+trf+trf+zs/+QkP8tLQCg
 oP/l5f/g4P/h4f/h4f/h4f/h4f/h4f/h4f/s7P9ISACcnP/s7P8A6+v/19f/
 AAAA7+//4eH/4eH/4eH/4eH/4eH/4eH/4eH/4OD/4eH/2dn/Tk4ARkYArKz/
 sLD/rq7/ra3/ra3/rq7/r6//tLT/Z2cALCwAzMz/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/7Oz/SEgAnJz/7Oz/AOvr/9fX/wAAAO/v/+Hh/+Hh/+Hh
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+np/5GR/zMzAFNTAG5uAHt7AHx8AHNz
 AFxcADY2AG5uAODg/+Li/+Dg/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+zs
 /0hIAJyc/+zs/wDr6//X1/8AAADv7//h4f/h4f/h4f/h4f/h4f/h4f/h4f/h
 4f/h4f/g4P/h4f/l5f/e3v+8vP+mpv+amv+Zmf+iov+1tf/V1f/n5//h4f/g
 4P/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/s7P9ISACcnP/s7P8A6+v/
 19f/AAAA7+//4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4OD/4eH/4eH/4OD/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/4eH/7Oz/SEgAnJz/7Oz/AOvr/9fX/wAAAO/v/+Hh/+Hh
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+zs/0hIAJyc/+zs/wDr6//X1/8AAADv7//h4f/h4f/h4f/h4f/h4f/h4f/h
 4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h
 4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/s7P9ISACcnP/s7P8A
 6+v/19f/AAAA7+//4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/4eH/4eH/7Oz/SEgAnJz/7Oz/AOvr/9fX/wAAAO/v/+Hh
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+Hh/+zs/0hIAJyc/+zs/wDr6//X1/8AAADv7//h4f/h4f/h4f/h4f/h4f/h
 4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h
 4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/s7P9ISACcnP/s
 7P8A6+v/19f/AAAA7+//4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/4eH/4eH/4eH/7Oz/SEgAnJz/7Oz/AOvr/9fX/wAAAO/v
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+Hh/+Hh/+zs/0hIAJyc/+zs/wDr6//X1/8AAADv7//h4f/h4f/h4f/h4f/h
 4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h
 4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/h4f/s7P9ISACc
 nP/s7P8A6+v/19f/AAAA7+//4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/
 4eH/4eH/4eH/4eH/4eH/4eH/4eH/4eH/7Oz/SEgAnJz/7Oz/AOvr/9fX/wAA
 AO/v/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh/+Hh
 /+Hh/+Hh/+Hh/+zs/0hIAJyc/+zs/1VEhvse4vVJAAAAB3RJTUUH2wMCBQkN
 8DzxCAAAAABJRU5ErkJggg==
